<div id="app-background">
  <mat-toolbar>
    <button mat-mini-fab color="accent" id="header-info-button" (click)="onInfoClick()">
      <mat-icon>info</mat-icon>
    </button>
    <p style="margin: auto; font: 16px; font-family: 'Montserrat', sans-serif;" >Meteor Counter</p>
    <button mat-mini-fab color="accent" id="header-settings-button" (click)="onSettingsClick()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <app-infocard></app-infocard>
  <app-maingrid></app-maingrid>
  <app-countlist></app-countlist>
  <app-csv-button></app-csv-button>

</div>
