<div id="app-background">
  <mat-toolbar>
    <button mat-mini-fab color="accent" id="header-info-button" (click)="onInfoClick()">
      <mat-icon>info</mat-icon>
    </button>
    <p style="margin: auto; font: 16px; font-family: 'Montserrat', sans-serif;" >Meteor Counter</p>
    <button mat-mini-fab color="accent" id="header-settings-button" (click)="onSettingsClick()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <app-infocard></app-infocard>
  <app-maingrid></app-maingrid>
  <app-countlist></app-countlist>
  <app-csv-button></app-csv-button>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4691874765405970"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-4691874765405970"
     data-ad-slot="2638503876"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
